aiosqlite==0.19.0
asyncpg==0.30.0
fastapi==0.115.12
gunicorn==22.0.0
httpx==0.28.1
lxml-html-clean==0.4.2
newspaper3k==0.2.8
pydantic-settings==2.8.1
uvicorn==0.34.1
sqlalchemy[asyncio]==2.0.36
alembic==1.14.0
asyncpg==0.30.0